<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright (c) 2025 Magebit, Ltd. (https://magebit.com/)
 * @author    Magebit <info@magebit.com>
 * @license   MIT
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <checkoutcom_apm>
                <mb_pay_phone_validation>0</mb_pay_phone_validation>
                <mb_way_status_text>Please complete the payment in your MB WAY app to avoid order cancellation.</mb_way_status_text>
                <mb_way_polling_interval>5000</mb_way_polling_interval>
            </checkoutcom_apm>
            <checkoutcom_google_pay>
                <google_pay_button_radius>8</google_pay_button_radius>
            </checkoutcom_google_pay>
            <checkoutcom_apple_pay>
                <apple_pay_button_radius>8</apple_pay_button_radius>
                <apple_pay_button_height>40</apple_pay_button_height>
            </checkoutcom_apple_pay>
        </payment>
    </default>
</config>
