<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright (c) 2025 Magebit, Ltd. (https://magebit.com/)
 * @author    Magebit <info@magebit.com>
 * @license   MIT
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <settings>
            <checkoutcom_configuration>
                <mb_pay_phone_validation>0</mb_pay_phone_validation>
            </checkoutcom_configuration>
        </settings>
    </default>
</config>
