<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright (c) 2025 Magebit, Ltd. (https://magebit.com/)
 * @author    Magebit <info@magebit.com>
 * @license   MIT
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="CheckoutCom\Magento2\Model\Service\WebhookHandlerService">
        <plugin name="magebit_checkoutcom_webhook_handler_normalize_action_id"
                type="Magebit\CheckoutComPayment\Plugin\Service\WebhookHandlerServicePlugin"/>
    </type>
</config>
