<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright (c) 2025 Magebit, Ltd. (https://magebit.com/)
 * @author    Magebit <info@magebit.com>
 * @license   MIT
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="checkoutcom">
                <group id="checkoutcom_apm">
                    <field id="mb_pay_phone_validation" translate="label" type="select" sortOrder="45" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enable MB WAY Phone Validation</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/checkoutcom_apm/mb_pay_phone_validation</config_path>
                        <comment>Enable strict validation for MB WAY phone numbers (must be 9 digits and start with 9)</comment>
                    </field>
                </group>
                <group id="checkoutcom_google_pay">
                    <field id="google_pay_button_radius" translate="label" type="text" sortOrder="45" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Button corner radius</label>
                        <config_path>payment/checkoutcom_google_pay/button_radius</config_path>
                        <comment>Measured in pixels (px). Default is 8px (Hyva Checkout styling)</comment>
                        <validate>validate-number validate-zero-or-greater</validate>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
